<div class="main d-flex w-100 align-items-center justify-content-center">
  <div class="w-25 h-100 rounded bg-white align-items-center justify-content-center">
    <form class="form d-flex gap-3 flex-column w-100 h-75 bg-white align-items-center justify-content-center">
      <label class="label">Email</label>
      <input type="text" class="input" placeholder="Ex.: myemail@gmail.com">
      <label class="label">Password</label>
      <input type="password" class="input" placeholder="Password">
      <label class="label">Confirm Password</label>
      <input type="password" class="input" placeholder="Password">
      <button class="sign" type="submit">Sign</button>
    </form>
  </div>
</div>