<div class="main d-flex w-100 align-items-center justify-content-center">
  <div class="w-25 h-100 rounded bg-white">
    <form [formGroup]="form" class="form d-flex gap-3 flex-column w-100 h-100 bg-white justify-content-center" (ngSubmit)="login()">
      <label class="label">Email</label>
      <input type="text" formControlName="email" class="input" placeholder="Ex.: myemail@gmail.com">
      <label class="label">Password</label>
      <input type="password" formControlName="password" class="input" placeholder="Password">
      <div class="d-flex column-gap-2">
        <input type="checkbox" class="checkbox" aria-label="teste">
        <label class="label">Remember me</label>
      </div>
      <button class="login" type="submit">Login</button>
      <a href="/signup" class="link d-flex w-100 align-items-center justify-content-center text-decoration-none">Signup</a>
    </form>
  </div>
</div>
